/*
Theme: KSpy
Theme URI: http://blog.harrspy.com 
Description: kspy
Author: harry
Author URI: http://blog.harrspy.com
Template: k2
*/


body {
  font-size: 75% !important;
  background: #1A1A1A !important;
}

.entry-content {
  line-height: 1.5 !important;
  color: #222222 !important;
}
#header {
  background-image: url("http://pic.yupoo.com/harryxu/206729311b24/wh4fzi1x.jpg");
}
#page {
  padding-top:0px !important;
}